<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title><%= data.pageTitle %> - <%= data.siteName %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
  <link rel="stylesheet" href="<%= data.toRoot %>css/style.css" />
  <script>
    let vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty('--vh', `${vh}px`);
  </script>
</head>

<body id=<%= data.pageBodyId %>>

  <header class="globalheader">

    <div class="common-container">
      <div class="globalheader-row">
        <a class="globalheader-brand" href="<%= data.toRoot %>sample/">Sample</a>
        <div class="drawer">
          <input type="checkbox" id="drawer-check" class="drawer-hidden">
          <label for="drawer-check" class="drawer-open"><span></span></label>

          <nav class="global_nav">
            <ul>
              <li>
                <a href="<%= data.toRoot %>sample/page1/">Page1</a>
              </li>
              <li>
                <a href="<%= data.toRoot %>sample/page2/">Page2</a>
              </li>
              <li>
                <a href="<%= data.toRoot %>sample/page3/">Page3</a>
              </li>
              <li>
                <a href="<%= data.toRoot %>sample/sandbox/">SandBox</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

  </header>
  <div class="globalheader-blank"></div>
  <div id="main">